[submodule "themes/hugo-devresume-theme"]
	path = hugo-devresume-theme
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.giti
[submodule "themes/hugo-devresume-theme"]
        path = themes/hugo-devresume-theme
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme
[submodule "hugo-devresume-theme"]
	path = hugo-devresume-theme
        url = https://github.com/cowboysmall-tools/hugo-devresume-theme

